:root{
    --purple: #2d2b96;
    --white: #fffffd;
    --red: #CF4B00;
    --gold: #DDBA7D;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    background: var(--purple);
    overflow: hidden;
    position: relative;
    font-family: "Inter", sans-serif;
    color: var(--white);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-12 {
    height: 100vh;
    width: 100%;
    position: relative;
}
.connection-dot{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    color: var(--purple);
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 1.3rem;
    left: -30px;
}
.col-12:nth-child(2n+1) .connection-dot{
    left: unset;
    right: -30px;
}
.title{
    font-size: 4rem;
    font-weight: 400;
}
.slide{
    position: absolute;
    z-index: 2;
    width: 100%;
}
img{
    width: 50%;
    aspect-ratio: 1/1;
    border: 3px solid var(--white);
    border-radius: 7px;
    object-fit: cover;
}
#slide_1 .title{
    left: 50%;
    top: 3rem;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    position: absolute;
}
#slide_1 img{
    left: 0;
    top: 50%;
    transform: translateY(-50%)!important;
    position: absolute;
    width: 65%;
}
.col-12:nth-child(2n) .slide {
    right: 50px;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}
.col-12:nth-child(2n+1) .slide {
    left: 50px;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
}
.actions{
    position: fixed;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
#next, #prev{
    background-color: var(--white);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-bottom: 10px;
    color: var(--purple);
    font-size: 1.5rem;
    cursor: pointer;
}
.instagram{
    position: absolute;
    left: 50%;
    bottom: 100px;
    font-size: 2.5rem;
    text-decoration: underline;
    transform: translateX(-50%);
}
#slide_5 .title{
    display: inline;
}
#pilot{
    transition: opacity .33s linear;
    opacity: 1;
    z-index: 3;
    position: relative;
}
video{
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 50%;
    aspect-ratio: 1/1;
    border: 3px solid var(--white);
    border-radius: 7px;
    object-fit: cover;
}
#pilot.hide{
    opacity: 0;
}